[mysqld]
# General
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
skip-character-set-client-handshake
# SQL Mode
sql_mode = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
# Logging
# # log_error = /var/log/mysql/error.log
# # general_log = 1
# # general_log_file = /var/log/mysql/mysql.log
# Max Connections
max_connections = 200
# Buffers
innodb_buffer_pool_size = 2G # 環境に合わせて調整